.Body {
  background-image: url("https://images.all-free-download.com/images/graphiclarge/hd_picture_fresh_blue_sky_and_flowers_165986.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}